.post-small{
    height:'100px';
    // background-color: yellow;
}

.post-large{
    height:'400px';
}
hr{
    color: #f6f6f6;
}
.post-info{
    display: flex;
    justify-content: space-between;
    // color: #808080;
    .post-writer{
        text-align: left;
        font-size: 1.2rem;
        font-weight: 600;
        color: rgb(75, 75, 75);
        display: flex;
        justify-content: space-between;
        align-items: center;
        // background-color: greenyellow;
    }
    .post-timestamp{
        color: #808080;
        font-size: 0.8rem;
    }
}

.post-button{
    font-family: 'Qwigley', cursive;
    font-size: 1.5rem;
    margin: 0px 10px;
    font-weight: 600;
    padding: 10px 20px;
    // background: none;
    // background-color: rgb(223, 223, 223);
    // background-color:;
    // border: 2px solid rgb(223, 223, 223);
    border: 2px solid white;
    // border: none;
    border-radius: 20px;
    // padding: 0 20px;
    outline: none;
    color: rgb(238, 68, 96);
    &:hover{
        // position: absolute;
        background-color: rgba(238, 68, 96, 0.178);
        color: rgb(238, 68, 96);
        border-color: rgb(238, 68, 96);
    }
    &:active{
        background-color: grey;
        color: white;
        // border-color: grey;
    }
}

.post{
    width: 60vw;
    margin: 10px 10px;
    padding: 20px 20px;
    // width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    background-color: white;
    p{
        // color: rgb(192, 192, 192);
        // background-color: yellow;
        padding-left: 30px;
        width:90%;
        text-align: left;
    }
}

.post-image{
    width: 100%;
    height: 500px;
}
.posts{
    background-color:rgb(245, 245, 245);
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

@media only screen and (max-width: 600px){
    .post{
        width: 80%;
        .post-writer{
            font-size: 1rem;
            .post-button{
                font-size: 1.1rem;
            }
        }
    }
}