.post-small{
    height:'100px';
    // background-color: yellow;
}

.post-large{
    height:'400px';
}
hr{
    color: #f6f6f6;
}
.post-info{
    display: flex;
    justify-content: space-between;
    // color: #808080;
    .post-writer{
        text-align: left;
        font-size: 1.2rem;
        font-weight: 600;
        color: rgb(75, 75, 75);
        display: flex;
        justify-content: space-between;
        align-items: center;
        // background-color: greenyellow;
    }
    .post-timestamp{
        color: #808080;
        font-size: 0.8rem;
    }
}

.post-button{
    font-family: 'Qwigley', cursive;
    font-size: 1.5rem;
    margin: 0px 10px;
    font-weight: 600;
    padding: 10px 20px;
    // background: none;
    // background-color: rgb(223, 223, 223);
    // background-color:;
    // border: 2px solid rgb(223, 223, 223);
    border: 2px solid white;
    // border: none;
    border-radius: 20px;
    // padding: 0 20px;
    outline: none;
    color: rgb(238, 68, 96);
    &:hover{
        // position: absolute;
        background-color: rgba(238, 68, 96, 0.178);
        color: rgb(238, 68, 96);
        border-color: rgb(238, 68, 96);
    }
    &:active{
        background-color: white;
        // color: white;
        // border-color: grey;
    }
}

.round-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 50px;
    // padding: 0;
    // padding: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    // padding: 10px 15px; 
    // border: 2px solid rgb(238, 68, 96);
    background-color: rgb(238, 68, 96);
    color: white;
    // border-color: rgb(238, 68, 96);
    font-size: 3rem;
    // &:hover{
    //     border:2px solid rgb(238, 68, 96);
    //     // background-color: white;
    //     background-color: rgba(238, 68, 96, 0.178);
    //     color: rgb(238, 68, 96);
    // }
}

.shadow{
    box-shadow: 2px 0px 5px grey;
}
.update-button{
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 30px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: Lucida Sans Unicode;
    // background-color: rgba(75, 75, 75, 0.3);
    color: white;
    z-index:2;
    border-radius: 50px;
    // border-bottom-left-radius: 0px;
    background-color: rgb(75, 75, 75);
    box-shadow: -2px 0px 5px grey;
    border: none;
    outline: none;
    // rotate: 100deg;

    &:disabled{
        cursor: not-allowed;
    }
}

.rotate-infinite{
    background-color: rgba(75, 75, 75, 0.3);
    box-shadow: none;
    color: white;
    animation: rotation1 0.4s ease-in-out 0s infinite normal;
}

@keyframes rotation1{
    0% { scale: 1; }
    50% { scale: 0.8; }
    100% { scale: 1; transform: rotate(360deg); }
}

.bottom-fixed-bg{
    position: fixed;
    background-color: white;
    z-index: 2;
    width: 100vw;
    height: 70px;
    bottom: 0;
    left: 0;
    box-shadow: 0px -2px 10px rgb(201, 201, 201);
}

.post{
    width: 60vw;
    margin: 10px 10px;
    padding: 20px 20px;
    // width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    background-color: white;
    p{
        // color: rgb(192, 192, 192);
        // background-color: yellow;
        padding-left: 30px;
        width:90%;
        text-align: left;
    }
}

.post-image{
    width: 100%;
    height: 500px;
}
.posts{
    background-color:rgb(245, 245, 245);
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // height: 100vh;
}
.pb-90{
    padding-bottom: 90px;
}


@media only screen and (max-width: 600px){
    .post{
        width: 80%;
        .post-writer{
            font-size: 1rem;
            .post-button{
                font-size: 1.1rem;
            }
        }
    }
}