.create-feed{
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 89.5vh;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    background-color: white;
}

.animating-down-scale{
    animation: down-arrow 1.5s ease-in-out 0s infinite normal none;
}

@keyframes down-arrow {
    0%{
        opacity: 1;
        transform-origin: bottom;
    }
    100%{
        opacity: 1;
    }
    50%{
        transform: scale(1.2) translate(0, 10px);
        opacity: 0.1;
    }
} 

.top-hide-button{
    background: none;
    border: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
}
.create{
    width: 100vw;
    // height: 0vh;
    // border-radius: 20px;
    // box-shadow: 0px 0px 10px rgb(201, 201, 201);
    // padding-top: 100px;
    display: flex;
    // flex-wrap: wrap;
    // grid-template-columns: minmax(100%, 1fr);
    justify-content: center;
    align-items: center;
}

#feed-title{
    width: 100%;
    text-align: center;
    font-family: 'Qwigley', cursive;
    font-size: 6.5rem;
    font-weight: 600;
    color: rgb(75, 75, 75);
}

.feed-post{
    background-color: rgb(75, 75, 75);
    color: white;
    width: 200px;
    font-size: 2rem;
}

.onebytwo{
    // width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-color: pink;
}
.pbtm40{
    padding-bottom: 40px;
}

#create-post-form{
    // background-color: rgb(238, 68, 96);
    width: 80%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.grid-row-full{
    display: flex;
    flex-direction: column;
    // display:grid;
    // grid-template-rows: repeat(1fr);
    width: 60%;
    padding-bottom: 20px;
    // background-color: yellow;
    input{
        width: 100%;
        margin: 20px 0;
        padding: 10px 0;
        font-size: 1.2rem;
        border: none;
        border-bottom: 2px solid grey;
        outline: none;
        color: grey;
    }
}
input[type="file"]{
 display: none;   
}

.custom-file-upload{
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;

    .custom-title{
        text-decoration: underline;
        
        &:hover{
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.image-big{
    width: 50%;
    // height: 4%;
    padding-right: 50px;
    // background-color: pink;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    // justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px){
 
    #create-post-form{
        width: 90%;
    }
    .onebytwo{
        // padding: 0;
        width: 100%;
    }
    .create{
        width: 90%;
        flex-wrap: wrap;
    }
    #feed-title{
        font-size: 2rem;
    }
    .grid-row-full{
        width: 90%;
        input{
            font-size: 1rem;
        }
    }
}