.home{
    overflow: hidden;
    // padding: 10px;
}

.full-screen{
    width: 100vw;
    height: 110vh;
    background-color: white;

    .screen1-txt{
        font-size: 3rem;
    }

    // .animation{
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-around;
    // }
}

.feedpost{
    // padding-left: 30px;
    font-family: 'Qwigley', cursive;
    font-size: 5rem;
    font-weight: 400;
}

.screen2-txt{
    font-size: 2rem;
}
.feedpost-small{
    font-family: 'Qwigley', cursive;
    font-size: 4rem;
    font-weight: 400;
}
@media only screen and (max-width: 600px){
    .full-screen{
        .screen1-txt{
            font-size: 2rem;
        }
    }
}