.loading{
    width: 100%;
    // height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // z-index: 1;
    // position: sticky;
    // background-color: rgb(75, 75, 75);
    .loading-div-circle{
        width: 150px;
        height: 150px;
        border-radius: 200px;
        // background-color: white;
        // background: linear-gradient(45deg, rgba(75,75,75, 0.3), rgba(238, 68, 96, 0.3));
        display: flex;
        justify-content: center;
        align-items: center;
        border: 20px solid white;
        // border-bottom-color:rgb(75, 75, 75) ;
        // box-shadow: 10px 0px 20px white;
        animation: scale2 1.7s ease-in-out infinite normal;

        .text-in-loading{
            font-family: 'Qwigley', cursive;
            color: rgb(75, 75, 75);
            font-size: 4.5rem;
            font-weight: 900;
            // color: white;

            // animation: scale3 1.7s ease-in-out infinite reverse;
            
            .loading-pink{
                color: rgb(238, 68, 96);
                font-size: 3rem;
            }
        }
    }
}


@keyframes scale2{
    0% { scale: 1;}
    25% {border-color: rgb(238, 68, 96) ;}
    50% {scale: 0.75; border-color: rgb(75, 75, 75);}
    100% {scale:1;}
}

@keyframes scale3{
    0% { scale:1;}
    50% {scale:1;}
    100% {scale:1;}
}